---

---

<div
  class="text-muted dark relative hidden gap-1 overflow-hidden bg-black px-3 py-2 text-sm text-ellipsis whitespace-nowrap md:flex dark:border-b dark:border-slate-800 dark:bg-transparent dark:text-slate-400"
>
  <span
    class="mr-0.5 inline-block bg-white/40 px-1 py-0.5 text-xs font-semibold rtl:mr-0 rtl:ml-0.5 dark:bg-slate-700 dark:text-slate-300"
    >重要新闻</span
  >
  <a href="https://astro.build/blog/astro-570/" class="text-muted font-medium hover:underline dark:text-slate-400"
    >重要的头版头条通知 »</a
  >
  <a
    target="_blank"
    rel="noopener"
    class="ml-auto inline-block h-[1.25rem] w-[5.6rem] bg-[url(https://img.shields.io/github/stars/onwidget/astrowind.svg?style=social&label=Stars&maxAge=86400)] bg-contain ltr:ml-auto rtl:mr-auto"
    title="If you like AstroWind, give us a star."
    href="https://github.com/onwidget/astrowind"
  >
  </a>
</div>
