---
import { SITE } from 'astrowind:config';
---

<span
  class="ml-2 self-center text-2xl font-bold whitespace-nowrap text-gray-900 md:text-xl rtl:mr-2 rtl:ml-0 dark:text-white"
>
  🚀 {SITE?.name}
</span>
