---
import type { HTMLTag } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import type { Widget } from '~/types';
import Background from './Background.astro';

export interface Props extends Widget {
  containerClass?: string;
  ['as']?: HTMLTag;
}

const { id, isDark = false, containerClass = '', bg, as = 'section' } = Astro.props;

const WrapperTag = as;
---

<WrapperTag class='relative scroll-mt-[36px] not-prose' {...id ? { id } : {}}>
  <div class='-z-1 absolute inset-0 pointer-events-none' aria-hidden='true'>
    <slot name='bg'>
      {bg ? <Fragment set:html={bg} /> : <Background isDark={isDark} />}
    </slot>
  </div>
  <div
    class:list={[
      twMerge(
        'relative motion-safe:md:opacity-0 mx-auto px-4 md:px-6 py-8 md:py-16 lg:py-12 max-w-7xl text-default motion-safe:md:intersect:animate-fade intersect-once intersect-quarter intersect-no-queue',
        containerClass
      ),
      { dark: isDark },
    ]}
  >
    <slot />
  </div>
</WrapperTag>
